.navbar8-wrapper {
  display: contents;
}
 
.navbar8-container1 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-navbar-interactive1 {
  top: 9px;
  left: -102px;
  width: 522px;
  height: 99px;
  display: flex;
  z-index: 10;
  position: fixed;
  align-items: center;
  justify-content: center;
}
 
.navbar8-navlink1 {
  display: contents;
}
 
.navbar8-link {
  fill: var(--dl-color-theme-accent1);
  color: var(--dl-color-theme-accent1);
  font-size: 48px;
  margin-top: -50px;
  font-family: "sans-serif";
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
}
 
.navbar8-navbar-interactive2 {
  top: 14px;
  right: -344px;
  width: 100%;
  height: auto;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
 
.navbar8-container2 {
  top: 36px;
  flex: 0 0 auto;
  left: 1271px;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.navbar8-navlink2 {
  fill: #1e0d0e;
  color: #1e0d0e;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  border-color: #1e0d0e;
  border-radius: 8px;
  text-decoration: none;
  background-color: fff44f;
}
 
.navbar8-navlink3 {
  fill: #1e0d0e;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  margin-left: var(--dl-layout-space-twounits);
  border-color: #1e0d0e;
  border-radius: 8px;
  text-decoration: none;
  background-color: fff44f;
}
 
.servici-fragment11 {
  display: contents;
}
 
.servici-text11 {
  display: inline-block;
}
 
.servici-fragment12 {
  display: contents;
}
 
.servici-text12 {
  display: inline-block;
}
 
.servici-fragment10 {
  display: contents;
}
 
.servici-text10 {
  display: inline-block;
}
 

 

 
@media(max-width: 991px) {
  .navbar8-navbar-interactive1 {
    top: 53px;
    left: -1px;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .navbar8-link {
    fill: var(--dl-color-theme-accent1);
    color: var(--dl-color-theme-accent1);
    font-size: 40px;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
  }
  .navbar8-navbar-interactive2 {
    top: 5px;
    left: -4px;
    width: 100%;
    height: auto;
  }
  .navbar8-navlink2 {
    fill: #1e0d0e;
    color: #1e0d0e;
    font-size: 12px;
    border-color: #1e0d0e;
    margin-right: 225px;
  }
  .navbar8-navlink3 {
    fill: #1e0d0e;
    color: #1e0d0e;
    font-size: 12px;
    border-color: #1e0d0e;
  }
}
 
@media(max-width: 767px) {
  .navbar8-navbar-interactive1 {
    top: 53px;
    left: 0px;
    height: auto;
  }
  .navbar8-link {
    fill: var(--dl-color-theme-accent1);
    color: var(--dl-color-theme-accent1);
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
  }
  .navbar8-navbar-interactive2 {
    top: 8px;
    left: -5px;
    height: auto;
  }
  .navbar8-navlink2 {
    fill: #1e0d0e;
    color: #1e0d0e;
    border-color: #1e0d0e;
  }
  .navbar8-navlink3 {
    fill: #1e0d0e;
    color: #1e0d0e;
    border-color: #1e0d0e;
  }
}
 
@media(max-width: 479px) {
  .navbar8-navbar-interactive1 {
    top: 53px;
    right: -1px;
    height: auto;
  }
  .navbar8-link {
    fill: var(--dl-color-theme-accent1);
    color: var(--dl-color-theme-accent1);
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
  }
  .navbar8-navbar-interactive2 {
    top: 77px;
    left: -2px;
    height: auto;
  }
  .navbar8-navlink2 {
    fill: #1e0d0e;
    color: #1e0d0e;
    font-size: 14;
    border-color: #1e0d0e;
    margin-right: 0px;
  }
  .navbar8-navlink3 {
    fill: #1e0d0e;
    color: #1e0d0e;
    font-size: 14px;
    border-color: #1e0d0e;
  }
}

.hero17-wrapper {
  display: contents;
}
 
.hero17-header78 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero17-column {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
}
 
.hero17-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero17-text1 {
  text-align: center;
}
 
.servici-fragment13 {
  display: contents;
}
 
.servici-text13 {
  color: var(--dl-color-theme-accent1);
  display: inline-block;
}

.contact101-wrapper {
  display: contents;
}
 
.contact101-container10 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact101-max-width1 {
  align-self: center;
}
 
.contact101-content1 {
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact101-container11 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.contact101-image1 {
  height: 516px;
  display: block;
  object-fit: cover;
}
 
.contact101-text10 {
  text-align: center;
}
 
.contact101-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.contact101-navlink1 {
  text-decoration: none;
}
 
.contact101-container13 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.contact101-image2 {
  height: 514px;
  object-fit: cover;
}
 
.contact101-text12 {
  text-align: center;
}
 
.contact101-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.contact101-navlink2 {
  text-decoration: none;
}
 
.contact101-max-width2 {
  align-self: center;
}
 
.contact101-content2 {
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact101-container15 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.contact101-image3 {
  height: 516px;
  display: block;
  object-fit: cover;
}
 
.contact101-text14 {
  text-align: center;
}
 
.contact101-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.contact101-navlink3 {
  text-decoration: none;
}
 
.contact101-container17 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.contact101-image4 {
  height: 514px;
  object-fit: cover;
}
 
.contact101-text16 {
  text-align: center;
}
 
.contact101-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.contact101-navlink4 {
  text-decoration: none;
}
 
.contact101-max-width3 {
  align-self: center;
}
 
.contact101-content3 {
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact101-container19 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.contact101-image5 {
  height: 516px;
  display: block;
  object-fit: cover;
}
 
.contact101-text18 {
  text-align: center;
}
 
.contact101-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.contact101-navlink5 {
  text-decoration: none;
}
 
.contact101-container21 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.contact101-image6 {
  height: 514px;
  object-fit: cover;
}
 
.contact101-text20 {
  height: auto;
  text-align: center;
}
 
.contact101-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.contact101-navlink6 {
  text-decoration: none;
}
 
.servici-fragment25 {
  display: contents;
}
 
.servici-text25 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment14 {
  display: contents;
}
 
.servici-text14 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment22 {
  display: contents;
}
 
.servici-text22 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment19 {
  display: contents;
}
 
.servici-text19 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment21 {
  display: contents;
}
 
.servici-text21 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment17 {
  display: contents;
}
 
.servici-text17 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment24 {
  display: contents;
}
 
.servici-text24 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment15 {
  display: contents;
}
 
.servici-text15 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment23 {
  display: contents;
}
 
.servici-text23 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment16 {
  display: contents;
}
 
.servici-text16 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment20 {
  display: contents;
}
 
.servici-text20 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment18 {
  display: contents;
}
 
.servici-text18 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact101-content1 {
    position: relative;
    align-items: center;
    flex-direction: column;
  }
  .contact101-content2 {
    position: relative;
    align-items: center;
    flex-direction: column;
  }
  .contact101-content3 {
    position: relative;
    align-items: center;
    flex-direction: column;
  }
  .servici-text22 {
    color: var(--dl-color-theme-secondary1);
  }
  .servici-text23 {
    color: var(--dl-color-theme-secondary1);
  }
  .servici-text20 {
    color: var(--dl-color-theme-secondary1);
  }
}
 
@media(max-width: 767px) {
  .contact101-image1 {
    width: 100%;
  }
  .contact101-image2 {
    width: 100%;
  }
  .contact101-image3 {
    width: 100%;
  }
  .contact101-image4 {
    width: 100%;
  }
  .contact101-image5 {
    width: 100%;
  }
  .contact101-image6 {
    width: 100%;
  }
}

.footer3-wrapper {
  display: contents;
}
 
.footer3-footer4 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.footer3-max-width {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer3-content {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.footer3-logo {
  gap: 10px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  font-size: 7px;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: 5px;
  margin-bottom: 10px;
  flex-direction: column;
}
 
.footer3-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer3-social-links {
  gap: var(--dl-layout-space-unit);
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-right: 34px;
  margin-bottom: -20px;
  justify-content: flex-end;
}
 
.footer3-icon1 {
  fill: var(--dl-color-theme-accent1);
  width: 28px;
  height: 28px;
}
 
.footer3-icon3 {
  fill: var(--dl-color-theme-accent1);
  width: 28px;
  height: 28px;
}
 
.footer3-icon5 {
  fill: var(--dl-color-theme-accent1);
  width: 28px;
  height: 28px;
}
 
.footer3-icon7 {
  fill: var(--dl-color-theme-accent1);
  width: 28px;
  height: 28px;
}
 
.servici-fragment28 {
  display: contents;
}
 
.servici-text28 {
  display: inline-block;
}
 
.servici-fragment27 {
  display: contents;
}
 
.servici-text27 {
  display: inline-block;
}
 
.servici-fragment26 {
  display: contents;
}
 
.servici-text26 {
  display: inline-block;
}
 
.footer3root-class-name {
  color: var(--dl-color-theme-accent1);
  width: 100%;
  bottom: 0;
  display: flex;
  padding: 10px 0;
  z-index: 10px;
  position: fixed;
  align-items: center;
  margin-left: 5px;
  flex-direction: column;
}
 
.footer3root-class-name1 {
  color: var(--dl-color-theme-accent1);
  width: 100%;
  bottom: 0;
  display: flex;
  padding: 10px 0;
  z-index: 10px;
  position: fixed;
  align-items: center;
  margin-left: 5px;
  flex-direction: column;
}
 

 
.footer3root-class-name3 {
  color: var(--dl-color-theme-accent1);
  width: 100%;
  bottom: 0;
  display: flex;
  padding: 10px 0;
  z-index: 0;
  position: fixed;
  align-items: center;
  margin-left: 5px;
  flex-direction: column;
}
 
@media(max-width: 991px) {
  .footer3-logo {
    gap: 5px;
    width:  auto;
    font-size: 8px;
  }
  .footer3-text1 {
    fill: var(--dl-color-theme-accent1);
    color: var(--dl-color-theme-accent1);
    padding: 0;
    margin-bottom: 2px;
  }
  .footer3-text2 {
    fill: var(--dl-color-theme-accent1);
    color: var(--dl-color-theme-accent1);
  }
  .footer3-text3 {
    fill: var(--dl-color-theme-accent1);
    color: var(--dl-color-theme-accent1);
  }
  .footer3-icon1 {
    fill: var(--dl-color-theme-accent1);
  }
  .footer3-icon3 {
    fill: var(--dl-color-theme-accent1);
  }
  .footer3-icon5 {
    fill: var(--dl-color-theme-accent1);
  }
  .footer3-icon7 {
    fill: var(--dl-color-theme-accent1);
  }
  .servici-text26 {
    color: inherit;
  }
  .footer3root-class-name {
    padding: 0px;
  }
  .footer3root-class-name1 {
    padding: 0px;
  }
  .footer3root-class-name3 {
    padding: 0px;
  }
}
 
@media(max-width: 767px) {
  .footer3-logo {
    gap: 4px;
    width: auto;
    font-size: 6px;
  }
  .footer3-icon1 {
    width: 20px;
    height: 20px;
  }
  .footer3-icon3 {
    width: 20px;
    height: 20px;
  }
  .footer3-icon5 {
    width: 20px;
    height: 20px;
  }
  .footer3-icon7 {
    width: 20px;
    height: 20px;
  }
}
 
@media(max-width: 479px) {
  .footer3-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}

.servici-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/external/cleaned_image-1500w.png");
}
 
.servici-fragment10 {
  display: contents;
}
 
.servici-text10 {
  display: inline-block;
}
 
.servici-fragment11 {
  display: contents;
}
 
.servici-text11 {
  display: inline-block;
}
 
.servici-fragment12 {
  display: contents;
}
 
.servici-text12 {
  display: inline-block;
}
 
.servici-fragment13 {
  display: contents;
}
 
.servici-text13 {
  color: var(--dl-color-theme-accent1);
  display: inline-block;
}
 
.servici-fragment14 {
  display: contents;
}
 
.servici-text14 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment15 {
  display: contents;
}
 
.servici-text15 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment16 {
  display: contents;
}
 
.servici-text16 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment17 {
  display: contents;
}
 
.servici-text17 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment18 {
  display: contents;
}
 
.servici-text18 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment19 {
  display: contents;
}
 
.servici-text19 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment20 {
  display: contents;
}
 
.servici-text20 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment21 {
  display: contents;
}
 
.servici-text21 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment22 {
  display: contents;
}
 
.servici-text22 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment23 {
  display: contents;
}
 
.servici-text23 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment24 {
  display: contents;
}
 
.servici-text24 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment25 {
  display: contents;
}
 
.servici-text25 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.servici-fragment26 {
  display: contents;
}
 
.servici-text26 {
  display: inline-block;
}
 
.servici-fragment27 {
  display: contents;
}
 
.servici-text27 {
  display: inline-block;
}
 
.servici-fragment28 {
  display: contents;
}
 
.servici-text28 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .servici-text20 {
    color: var(--dl-color-theme-secondary1);
  }
  .servici-text22 {
    color: var(--dl-color-theme-secondary1);
  }
  .servici-text23 {
    color: var(--dl-color-theme-secondary1);
  }
  .servici-text26 {
    color: inherit;
  }
}
